@import '../media-queries';

$cube_sizes_h: 9.5rem;
$cube_sizes_w: 9rem;
$cube_sizes_Rh: 4.5rem;
$cube_sizes_Rw: 4rem;

@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }


.projects__super {
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects_title{
    width: 80vw;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-weight: lighter;
    .side-iden{
        display: flex;
        align-items: center;
        justify-items: center;
        animation: moveUpDown 2s infinite;

        .indentifyer{
            margin: 0;
            margin-right: 5px;
            font-size: 1.2rem;
        }
    }
}

.projects_title_cc {
    font-weight: 300;
    font-size: 2rem;
    animation: color-change-names 3s linear infinite alternate both;
    @include tablet {
        margin: 0;
        font-size: 1.5rem;
    }
}


.project_card {
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 100%;
    position: relative;
    &:hover {

        img{
            opacity: 1;

        }

        .project_desc {
            height: 100%;
            opacity: 1;
            p{
                font-size: 1rem;
                @include tablet {
                    font-size: 1.1rem;

                }
            }
        }

        .toolkits {
            opacity: 0;
        }

        .project_card_icon {
            opacity: 0;
        }
    }

    .project_desc {
        display: flex;
        width: 100%;
        height: 0%;
        transition: height 0.3s ease, opacity 0.3s ease;
        opacity: 0;
        align-items: center;
        justify-content: space-around;
        width: 70%;

        p {
            font-weight: 400;
            font-size: .9rem;
            text-align: left;
            width: 80%;
          
        }

        .project_links {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 10%;

            :first-child {
                margin-bottom: 20px;
            }

            * {
                cursor: pointer;

            }
        }
    }

    .toolkits {
        max-width: 170px;
        margin-top: 10px;
        display: flexbox;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s ease;
        opacity: 1;
        .tools {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .project_card_icon {
        width: 60px;
        height: 60px;
        transition: opacity 0.3s ease;
        opacity: 1;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.swiper-cont{
    height: 60vh;
}

.mySwiper{
    width: 80vw;
    @include tablet {
        width: 90vw;
    }
}

.swiper-cont{
    display: flex;
    align-items: center;
    .swiper-icon{
        margin: 0 10px;
        @include tablet {
            display: none;

        }
    }
}

.project-bg-cont{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        z-index: 0;
        opacity: 0;
        object-position: center;
        width: 300%;
        height: 100%;
    }
}


.swiper-slide{
    border-radius: 50%;
}


.project-container{
    cursor: pointer;
    height: 380px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 5px;
    @media (max-width: 500px) {
        width: 90vw;
        height: 60vh;
      }
    &:hover{
        .project-info{
            .project-desc{
                width: 100%;
                opacity: 1;
                p{
                    opacity: 1;

                }
            }
        }

    }
    .project-ss{
        position: relative;
        height: 65%;
        width: 100%;
        .main-project-info{
            position: absolute;
            z-index: 3;
            bottom: 0;
            margin-left: 15px;
            display: flex;
            align-items: center;
            p{
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: 1.8rem;
                color: rgb(228, 228, 228);
            }
            .nav-links{
                display: flex;
                align-items: center;
                justify-content: center;
                .icon-1{
                    margin: 0 10px;
                }
                .icon-2{
                    margin: 0 10px;
                }

            }
        }
        .light-cover{
            position: absolute;
            transition: background 0.5s ease;
            z-index: 2;
            background: linear-gradient(180deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,.65) 66%);
            width: 100%;
            height: 100%;

        }
        img{
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
    }
    .project-info{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 35%;
        background-color: white;
        padding: 0px 20px;

        .project-icon{
            height: 60px;
            width: 60px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .project-desc{
            transition: width 0.3s ease, opacity 0.3s ease;
            position: absolute;
            background-color: rgb(255, 255, 255);
            height: 100%;
            width: 0%;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                opacity: 0;
                width: 80%;
                height: 80%;
                font-size: .9rem;
                text-align: center;
                display: flex; 
                align-items: center;
                justify-content: center;
            }
        }
    }
}
.comming-soon{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(236, 236, 236, 0.342);
    height: 380px;
    width: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 5px;
    @media (max-width: 500px) {
        width: 90vw;
        height: 60vh;
      }
}

.mySwiper .swiper-button-prev {
    color: rgba(224, 224, 224, 0.7);
}

.mySwiper .swiper-button-next {
    color: rgba(224, 224, 224, 0.7);
}
.swiper-horizontal{
    padding: 5px;
}