.projects__super {
  height: 100%;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Projects_title_cc {
  font-weight: 700;
  font-size: 2rem;
  animation: color-change-names 3s linear infinite alternate both;
}
@media screen and (max-width: 920px) {
  .Projects_title_cc {
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.projects__container {
  display: grid;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60%;
  width: 100%;
}
@media screen and (max-width: 920px) {
  .projects__container {
    flex-direction: column;
    margin-top: 20px;
  }
}
.projects__container .try {
  cursor: pointer;
  min-width: 300px;
  max-width: 400px;
  height: 320px;
  position: relative;
}
.projects__container .try:hover .background_p {
  animation: color-change-bg 3s linear infinite alternate both;
  transition: 0.2s ease;
}
@media screen and (max-width: 920px) {
  .projects__container .try {
    min-width: 90vw;
    height: 180px;
  }
}
.projects__container .try .button_cont_p {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  left: 3%;
}
.projects__container .try .button_cont_p button {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px;
  animation: none;
  background-color: rgba(0, 0, 0, 0.507);
  margin-top: 5px;
}
.projects__container .try .button_cont_p button:hover {
  color: rgba(229, 108, 16, 0.1803921569);
}
@media screen and (max-width: 920px) {
  .projects__container .try .button_cont_p button {
    padding: 15px;
  }
}
.projects__container .try .background_p {
  -webkit-transition: all 1s ease;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(180, 115, 51, 0.275);
  left: 54%;
  top: 55%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}
@media screen and (max-width: 920px) {
  .projects__container .try .background_p {
    left: 51%;
    top: 52%;
  }
}
@media screen and (max-width: 920px) {
  .projects__container .try {
    flex-direction: column;
  }
}
.projects__container .try img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
}
.projects__container .try img:hover {
  filter: grayscale(0%);
  filter: gray;
  filter: none;
  transform: scale(1.01);
  transition: 0.2s ease;
}

.projects_container_part {
  width: 25rem;
  height: 20rem;
  border-radius: 15px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.projects_container_part:hover > .part_hover {
  transform: translateY(-100%);
}
@media screen and (max-width: 920px) {
  .projects_container_part:hover > .part_hover {
    transform: translateY(0%);
  }
}
.projects_container_part .buttons_hover {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.projects_container_part .project_desc {
  color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  border-radius: 30px;
}
.projects_container_part .project_desc .project_resalted {
  animation: color-change-names 5s linear infinite alternate both;
  font-weight: 700;
}
@media screen and (max-width: 920px) {
  .projects_container_part .project_desc {
    display: none;
  }
}
.projects_container_part .part_hover {
  background-color: rgba(20, 20, 20, 0.6431372549);
  height: 100%;
  width: 100%;
  top: 100%;
  position: absolute;
  transition: transform 250ms;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.projects_container_part .part_hover .part_button {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects_container_part .part_hover .part_button:hover {
  background-color: rgba(236, 236, 236, 0.4941176471);
}
.projects_container_part .part_hover .part_button .part_icon {
  color: white;
  animation: color-change-names 5s linear infinite alternate both;
  height: 50%;
  width: 50%;
}
@media screen and (max-width: 920px) {
  .projects_container_part .part_hover .part_button {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}
.projects_container_part .part_hover .hover_cirle {
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 100%;
}
@media screen and (max-width: 920px) {
  .projects_container_part .part_hover .hover_cirle {
    width: 4rem;
    height: 4rem;
    animation: none;
  }
}
@media screen and (max-width: 920px) {
  .projects_container_part .part_hover {
    position: relative;
    width: 11rem;
    background-color: transparent;
    top: 0;
  }
}
@media screen and (max-width: 920px) {
  .projects_container_part {
    width: 90%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.part2 {
  margin: 5px;
}

.sub_icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.part1 {
  background: linear-gradient(to bottom, transparent, transparent), url("../../assets/svg-p/project_1.png");
  background-position: center;
  background-size: cover;
}
.part1:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8392156863), transparent), url("../../assets/svg-p/project_1.png");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 920px) {
  .part1 {
    background: linear-gradient(to bottom, transparent, transparent), url("../../assets/svg-p/project_1.png");
    background-position: center;
    background-size: cover;
  }
}

.part2 {
  background: linear-gradient(to bottom, transparent, transparent), url("../../assets/svg-p/project_2.svg");
  background-position: center;
  background-size: cover;
}
.part2:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8392156863), transparent), url("../../assets/svg-p/project_2.svg");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 920px) {
  .part2 {
    background: linear-gradient(to bottom, transparent, transparent), url("../../assets/svg-p/project_2.svg");
    background-position: center;
    background-size: cover;
  }
}

.part3 {
  background: linear-gradient(to bottom, transparent, transparent), url("../../assets/svg-p/project_3.png");
  background-position: center;
  background-size: cover;
}
.part3:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8392156863), transparent), url("../../assets/svg-p/project_3.png");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 920px) {
  .part3 {
    background: linear-gradient(to bottom, transparent, transparent), url("../../assets/svg-p/project_3.png");
    background-position: center;
    background-size: cover;
  }
}/*# sourceMappingURL=index.css.map */