@import '../media-queries';

$cube_sizes_h: 9.5rem;
$cube_sizes_w: 9rem;
$cube_sizes_Rh: 4.5rem;
$cube_sizes_Rw: 4rem;

@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }


.projects__super {
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects_title{
    width: 80vw;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-weight: lighter;
    .side-iden{
        display: flex;
        align-items: center;
        justify-items: center;
        animation: moveUpDown 2s infinite;

        .indentifyer{
            margin: 0;
            margin-right: 5px;
            font-size: 1.2rem;
        }
    }
}

.projects_title_cc {
    font-weight: 300;
    font-size: 2rem;
    animation: color-change-names 3s linear infinite alternate both;
    @include tablet {
        margin: 0;
        font-size: 1.5rem;
    }
}


.project_card {
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 100%;
    position: relative;
    &:hover {

        img{
            opacity: 1;

        }

        .project_desc {
            height: 100%;
            opacity: 1;
            p{
                font-size: 1rem;
                @include tablet {
                    font-size: 1.1rem;

                }
            }
        }

        .toolkits {
            opacity: 0;
        }

        .project_card_icon {
            opacity: 0;
        }
    }

    .project_desc {
        display: flex;
        width: 100%;
        height: 0%;
        transition: height 0.3s ease, opacity 0.3s ease;
        opacity: 0;
        align-items: center;
        justify-content: space-around;
        width: 70%;

        p {
            font-weight: 400;
            font-size: .9rem;
            text-align: left;
            width: 80%;
          
        }

        .project_links {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 10%;

            :first-child {
                margin-bottom: 20px;
            }

            * {
                cursor: pointer;

            }
        }
    }

    .toolkits {
        max-width: 170px;
        margin-top: 10px;
        display: flexbox;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s ease;
        opacity: 1;
        .tools {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .project_card_icon {
        width: 60px;
        height: 60px;
        transition: opacity 0.3s ease;
        opacity: 1;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.swiper-cont{
    height: 60vh;
}

.mySwiper{
    height: 100%;
    width: 80vw;
    @include tablet {
        width: 90vw;
    }
}

.swiper-cont{
    display: flex;
    align-items: center;
    .swiper-icon{
        margin: 0 10px;
        @include tablet {
            display: none;

        }
    }
}

.project-bg-cont{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        z-index: 0;
        opacity: 0;
        object-position: center;
        width: 300%;
        height: 100%;
    }
}


.swiper-slide{
    border-radius: 50%;
}
// .projects__grid_container {
//     display: grid;
//     grid-template-columns: repeat(3, 260px);
//     grid-template-rows: repeat(4, 200px);
//     grid-column-gap: 25px;
//     grid-row-gap: 25px;

//     @include tablet {
//         grid-template-columns: repeat(1, 260px);
//         grid-template-rows: repeat(5, 200px);
//     }
// }

// .project_card_1 {
//     grid-area:  1 / 1 / 2 / 4;
//     @include tablet { 
//         grid-area: 1 / 1 / 2 / 2;
//     }
// }

// .project_card_2 {
//     grid-area: 2 / 1 / 3 / 4;
//     @include tablet {
//         grid-area: 2 / 1 / 3 / 2;
//     }
// }

// .project_card_3 {
//     grid-area: 3 / 1 / 4 / 4;
//     @include tablet {
//         grid-area: 3 / 1 / 4 / 2;
//     }
// }

// .project_card_4 {
//     grid-area: 4 / 1 / 5 / 4;
//     @include tablet {
//         grid-area: 4 / 1 / 5 / 2;
//     }
// }

// .project_card_5 {
//     grid-area: 5 / 1 / 6 / 4;
//     @include tablet {
//         grid-area: 5 / 1 / 6 / 2; 
//     }
// }